click==6.7
docopt==0.6.2
dominate==2.3.1
Flask==0.12.2
Flask-Bootstrap==3.3.7.1
Flask-Script==2.0.6
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
gunicorn==19.7.1
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
pkg-resources==0.0.0
SQLAlchemy==1.2.7
-e git+https://github.com/mwangi-njuguna/thermos-cli.git@841be8567b763261ee19ad73a4d246dfec3e5085#egg=thermos
visitor==0.1.3
Werkzeug==0.14.1
WTForms==2.1
